<link rel="stylesheet" type="text/css" href="css/style.css"/>
<html>
<body>
<div id="wrapper">
    <form action='/users' method="post">
        Name: <input type="text" name="name">
        Email: <input type="text" name="email">
        House: <select>
            <option value="slytherin" name="house">Slytherin</option>
            <option value="hufflepuff" name="house">Hufflepuff</option>
            <option value="ravenclaw" name="house">Ravenclaw</option>
            <option value="gryffindor" name="house">Gryffindor</option>
            </select>
        <p><input type="submit" value="create user"><p>
    </form>
</div>
</body>
</html>
